<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mikalog | Admin Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <header>
        <%- include('_header') %>  
    </header>
    <main>
        <div class="container">
            <div class="row mt-4">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Home</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="v-50 mx-auto">
                    <a href="/articles/new" class="btn btn-success mt-4">New Article</a>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive p-3">
                    <table class="table table-index mt-4">
                        <thead class="table-active">
                            <tr>
                                <th class="text-center">DATE</th>
                                <th class="text-center">TITLE</th>
                                <th class="text-center">DESCRIPTION</th>
                                <th colspan="3" class="text-center">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% articles.forEach(article => { %>
                                <tr>
                                    <td class="small"><%= article.createdAt.toLocaleDateString() %></td>
                                    <td><%= article.title %></td>
                                    <td class="small"><%= article.description %></td>
                                    <td><a href="articles/<%= article.slug %>" class="btn btn-outline-secondary">Details</a></td>
                                    <td><a href="articles/edit/<%= article.id %>" class="btn btn-outline-info">Edit</a></td>
                                    <td>
                                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                                            <button type="submit" class="btn btn-outline-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>